body{
    text-align: center;
    
}
h1 {
    color: white;
}

body .toFt{
    opacity: 0.3;
    transition: 0.8;
}
body .toM{
    opacity: 0.3;
    transition: 0.8;
}
body .toFt:hover{
    opacity: 1;
}
body .toM:hover{
    opacity: 1;
}
#video_background {
    position: fixed;
    top: -900px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;

    min-height: 50%;

    z-index: -1000;
    
    overflow: hidden;
    
    }
