
body{
    width:100%;
    margin: 0%;
    background: rgba(255,209,218,1);
    /* background: linear-gradient(145deg, rgba(255,243,246,1) 3%, rgba(255,183,197,1) 30%, rgba(255,209,218,1) 76%, rgba(255,243,246,1) 90%); */
    background-image: url('/img/BackGround-Logo.png');
}
.nav{
    height: 160px;
}
#Menu{
    width: 100%;
    top: 80px;
    position:relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;  
    display: flex;
}
li{ 
    /* width: auto; */
    list-style: none;
    
}
#Logo{
    width: auto;
    height: 24px;
    position: relative;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:#fff;
    background-position-x: 8.5px;
    background-position-y: -40px;
    background-image: url('/img/Logo.png');
    background-repeat: no-repeat;
}
li a{
    width: auto;
    height: auto;
    padding: 40px 115px ;
    position: relative;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    background-color: #ff8da3;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1rem;
    font-weight:bold;
    word-break:keep-all;
}

li a:hover{
    color:#ff8da3;
    background-color: #fff;
}
.SubMenu{
    display: none;
    position: absolute;
    z-index: 100;
}
img{
    width: 100%;
    height: 100%;
}
.Pets{
    position: relative;
    display:flex;
    flex-direction: column;
    margin: 100px;  
    box-sizing: border-box;
    
}
.Pets div{
    /* height: 300px; */
    margin-bottom: 30px;
    background-color: #fff;
}

.Pets div img{
    /* max-width: 200px; */
    /* max-height:  300px; */
}
.Dog{
    display: flex;
    justify-content: left;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
    
}
.Pets .Dog:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Dog-img-wrap {
    width: 960px;
    height: 640px;

}
/* .Dog-img-link {

}
.Dog-img {

} */
.Dog-text {
    display: flex;
    align-items: center;
    width: 100%;
}

.PetMeal{
    display: flex;
    justify-content: right;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
}
.Pets .PetMeal:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.PetMeal-text {
    display: flex;
    align-items: center;
    width: 100%;
}

.Love_Care{
    display: flex;
    justify-content: right;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
}
.Pets .Love_Care:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Love_Care-text{    
    display: flex;
    align-items: center;
    width: 100%;
}